

h1,h2,h3,h4{
    color: #fff;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
    
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;

}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1E1E2F;
    background-image: linear-gradient(270deg,#241a38,#140f23);
}

.container-content{
    max-width: 1300px;
    box-sizing: border-box;
    padding: 0 10px;
}